{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block content %}
<h1> Mon Panier</h1>
    Retrouvez l'ensemble des produits que vous avez ajouté

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Produit</th>
            <th scope="col">/</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% set total=null %}
        {% for product in cart %}
            <tr>
                <th>
                    <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75px"/> <br>
                </th>
                <td>
                    {{ product.product.name }} <br>
                    <small>{{ product.product.subtitle }}</small>
                </td>
                <td>{{ product.quantity }}</td>
                <td> {{ ((product.product.price*product.quantity)/100) | number_format(2,',',',','.')}} €</td>
                <td>€ {{ (product.product.price /100) | number_format(2,',',',','.')}} €</td>
            </tr>
            {% set total=total+(product.product.price*product.quantity) %}
        {% endfor %}
        </tbody>
    </table>
    <div class="text-end mb-5">
        <b>Nombre de produit : {{ cart|length }}</b> <br>
        <b>Total de mes produits : {{ (total/100) | number_format(2,',',',','.') }} €</b> <br>
    <a href="" class="btn btn-success">Valider mon panier</a>
    <a href="{{path('remove_cart')}}" class="btn btn-success">Vider mon panier</a>

    </div>
{% endblock %}
