{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block content %}
	<div class="container mt-5 mb-5">
		<div class="row">
			<div class="col-12 text-center">
				<h1>Inscription</h1>
			</div>

			<div class="col-12">
				{{ form_errors(registrationForm) }}

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="btn btn-primary col-12 ">Register</button>
				{{ form_end(registrationForm) }}

			</div>

		</div>

	</div>
{% endblock %}
