body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
.w3-bar,
h1,
button {
  font-family: "Montserrat", sans-serif;
}
.fa-anchor,
.fa-coffee {
  font-size: 200px;
}

.product-item h5 {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 1px;
  text-align: center;
}

.product-item {
  margin-top: 50px;
}

.product-item .product-subtitle {
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
}

.product-item .product-subtitle {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-page-price {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}
