{% extends 'base.html.twig' %} {% block title %}Hello CgvController! {% endblock %} {% block page_title %} Conditions Générales de ventes {% endblock %} {% block content %}
<br>
<div class="jumbotron container my-3">
    <h2 class="display-4"><span class="text-primary">Article 1:</span> OBJET</h2>
    <hr class="my-4">
    <p>Les présentes conditions générales régissent les relations contractuelles entre le client et SOCIETE liées à la vente de prestations de services, les deux parties les acceptant sans réserve. Chaque prestation vendue donnera lieu à la conclusion et
        à la signature d'un devis. Toute condition non conforme à nos conditions générales que le client aurait formulée sera rejetée. Ces conditions générales de vente sont jointes à tout contrat d'intervention ou bon de commande.
    </p>
</div>
<br><br><br>

<div class="jumbotron container my-3">
    <h2 class="display-4"><span class="text-primary">Article 2:</span> DUREE DE LA PRESTATION</h2>
    <hr class="my-4">
    <p>La prestation prend effet à compter de la date de réception du devis approuvé par le client et se poursuivra pendant toute la durée du contrat tel que stipulé sur le devis.
    </p>
</div>
<br><br><br>

<div class="jumbotron container my-3">
    <h2 class="display-4"><span class="text-primary">Article 3:</span> FORCE MAJEURE</h2>
    <hr class="my-4">
    <p>
        Aucune des parties ne pourra engager la responsabilité de l'autre si l'exécution du contrat est retardée ou empêchée en raison d'un cas de force majeure d'un cas fortuit ou d'une cause extérieure, tel que, notamment : catastrophes naturelles, grèves,
        conflits sociaux, état de guerre, tremblement de terre, feu, vol de l'outil de travail, explosions, intervention des autorités gouvernementales.
    </p>
</div>
<br><br><br>
<div class="jumbotron container my-3">
    <h2 class="display-4"><span class="text-primary">Article 4:</span> RESERVE DE PROPRIETE</h2>
    <hr class="my-4">
    <p>Les prestations vendues comme définies dans le devis restent la propriété de SOCIETE jusqu'au paiement intégral du prix par le client. Pendant la durée de la réserve de propriété, l'acheteur supportera la charge des risques en cas de perte ou de destruction
        des documents liés à la prestation dès leur livraison. A défaut de paiement total ou partiel, VideoLearnPro est en droit d'annuler les actions effectuées.
    </p>
</div>

<br><br><br>
<div class="jumbotron container my-3">
    <h2 class="display-4"><span class="text-primary">Article 5:</span> CESSION DU CONTRAT</h2>
    <hr class="my-4">
    <p>Le client s'interdit de transférer, pour quelque cause sous quelque forme que ce soit, le contrat ou l'un quelconque de ses droits et obligations à un tiers sans autorisation préalable et écrite de VideoLearnPro.</p>
</div>

<br><br><br>

<div class="jumbotron container my-3">
    <h2 class="display-4"><span class="text-primary">Article 6:</span> CONDITIONS DE PAIEMENT</h2>
    <hr class="my-4">
    <p>Le paiement s'effectue par virement après réception de facture. Tout retard de paiement pourra entrainer la suspension des prestations en cours jusqu'à régularisation. En cas de défaut de paiement après envoi d'une mise en demeure, VideoLearnPro se
        réserve le droit de résilier le contrat sachant que le client prendra à sa charge tous les frais occasionnés par le recouvrement contentieux des sommes dues.
    </p>
</div>
<br><br><br>

<div class="jumbotron container my-3">
    <h2 class="display-4"><span class="text-primary">Article 7:</span> CONFIDENTIALITE</h2>
    <hr class="my-4">
    <p>Le client et VideoLearnPro s'engagent à préserver le caractère confidentiel de toute information obtenue et des documents afférents au présent contrat tout au long de la réalisation de la prestation.</p>
</div>

<br><br><br>

<div class="jumbotron container my-3">
    <h2 class="display-4"><span class="text-primary">Article 8:</span> LITIGES</h2>
    <hr class="my-4">
    <p>En vue de trouver ensemble une solution à tout litige qui surviendrait dans l'exécution du présent contrat, les contractants conviennent de se réunir physiquement ou par conférence téléphonique dans les sept jours à compter de la réception d'une lettre
        recommandée avec accusé réception, notifiée par l'une des deux parties. Si au terme d'un délai de quinze jours, les parties n'arrivaient pas à se mettre d'accord sur un compromis ou une solution, le litige serait alors soumis à la compétence juridictionnelle
        du Tribunal de Commerce de Nanterre exclusivement compétent.
    </p>
</div>
{% endblock %} {% block about %} {% endblock %}