{% extends 'base.html.twig' %} {% block title %}Confidentialités {% endblock %} {% block page_title %} Politique de confidentialité {% endblock %} {% block content %}

<div class="container mt-4">
    <br><br>
    <p>Cette Politique de Confidentialité décrit la manière dont VideoLearnPro recueille, utilise et protège vos informations personnelles lorsque vous visitez notre site web.</p>

    <br><br>
    <h2 class="text-primary">Collecte d'Informations Personnelles</h2>
    <p>Nous pouvons recueillir des informations personnelles telles que votre nom, votre adresse e-mail et d'autres informations d'identification lorsque vous vous inscrivez sur notre site, effectuez des achats ou nous contactez.</p>

    <br><br>
    <h2 class="text-primary">Utilisation des Informations Personnelles</h2>
    <p>Nous utilisons les informations personnelles que nous recueillons pour vous fournir nos services, traiter les paiements, vous envoyer des informations sur nos produits et services, améliorer notre site web et répondre à vos demandes.</p>

    <br><br>
    <h2 class="text-primary">Protection des Informations Personnelles</h2>
    <p>Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles contre tout accès non autorisé, utilisation ou divulgation.</p>

    <br><br>
    <h2 class="text-primary">Partage des Informations Personnelles</h2>
    <p>Nous ne vendons, n'échangeons ni ne louons vos informations personnelles à des tiers, sauf dans les cas où cela est nécessaire pour fournir nos services ou lorsque la loi l'exige.</p>

    <br><br>
    <h2 class="text-primary">Cookies</h2>
    <p>Notre site web utilise des cookies pour améliorer l'expérience de navigation. Vous pouvez choisir de refuser les cookies, mais cela peut affecter certaines fonctionnalités de notre site.</p>

    <br><br>
    <h2 class="text-primary">Modification de la Politique de Confidentialité</h2>
    <p>Nous nous réservons le droit de mettre à jour notre Politique de Confidentialité. Les modifications seront publiées sur cette page.</p>

    <br><br>
    <h2 class="text-primary">Contact</h2>
    <p>Si vous avez des questions concernant notre Politique de Confidentialité, veuillez nous contacter à l'adresse suivante : contact@videolearnpro.com.</p>
</div>


{% endblock %} {% block about %} {% endblock %}