{% extends 'base.html.twig' %} {% block title %}A Propos {% endblock %} {% block page_title %} A Propos {% endblock %} {% block content %}

<br><br>
<div class="container mt-4">
    <h1 class="text-center text-primary">À Propos de VideoLearnPro</h1>
    <hr>
    <p>VideoLearnPro est une plateforme éducative en ligne dédiée à l'apprentissage de la technologie et de la programmation. Notre mission est de fournir des vidéos instructives de haute qualité sur une variété de sujets liés à la technologie, aux langages
        de programmation, aux frameworks, et bien plus encore.</p>

    <p>Nos instructeurs expérimentés partagent leurs connaissances pour aider les apprenants à acquérir de nouvelles compétences et à se tenir au courant des dernières avancées technologiques. Que vous soyez débutant ou professionnel de l'informatique, VideoLearnPro
        est votre ressource pour l'apprentissage en ligne.</p>

    <p>Nous sommes fiers de soutenir une communauté d'apprenants passionnés qui cherchent à se perfectionner dans le domaine de la technologie. Rejoignez-nous dès aujourd'hui et commencez votre parcours d'apprentissage avec VideoLearnPro !</p>

    <h2 class="text-primary mt-4">Notre Équipe</h2>
    <p>Notre équipe est composée d'experts de l'industrie technologique qui apportent une vaste expérience et une passion pour l'enseignement. Chacun de nos instructeurs est soigneusement sélectionné pour fournir des cours de qualité supérieure à nos apprenants.</p>

    <h2 class="text-primary mt-4">Notre Vision</h2>
    <p>Nous croyons en un monde où l'apprentissage en ligne est accessible à tous. Notre vision est d'offrir des ressources éducatives de premier ordre pour permettre à chacun de se développer professionnellement, d'acquérir de nouvelles compétences et de
        réussir dans le domaine de la technologie.</p>

    <div class="row mt-4">
        <div class="col-md-6">
            <img src="{{asset('assets/img/instructeur1.png')}}" alt="Instructeur 1" class="img-fluid">
            <p class="text-center mt-2"> Mr John Doe</p>
        </div>
        <div class="col-md-6">
            <img src="{{asset('assets/img/instructeur2.jpeg')}}" alt="Instructeur 2" class="img-fluid">
            <p class="text-center mt-2"> Mme Laura</p>
        </div>
    </div>
</div>


{% endblock %} {% block about %} {% endblock %}