{% extends 'base.html.twig' %} {% block title %}Hello MentionController! {% endblock %} {% block page_title %} Mentions Légales {% endblock %} {% block content %}

<div class="container mt-4">
    <p><strong class="text-primary">Raison Sociale</strong>: VideoLearnPro</p>
    <p><strong>Siège Social</strong>: [Adresse du Siège Social]</p>
    <p><strong>Email de Contact</strong>: contact@videolearnpro.com</p>
    <br><br>

    <h2 class="text-primary">Responsabilité</h2>
    <p>VideoLearnPro s'efforce de fournir des informations précises et à jour sur son site web. Cependant, nous ne pouvons garantir ni l'exhaustivité ni l'exactitude de ces informations. VideoLearnPro décline toute responsabilité quant à l'utilisation des
        informations fournies sur ce site.</p> <br><br>


    <h2 class="text-primary">Propriété Intellectuelle</h2>
    <p>Tous les contenus présents sur le site web de VideoLearnPro, y compris les textes, images, vidéos, et autres éléments, sont protégés par des droits de propriété intellectuelle. Toute reproduction ou utilisation de ces contenus sans autorisation expresse
        est interdite.</p> <br><br>


    <h2 class="text-primary">Liens Hypertextes</h2>
    <p>Notre site peut contenir des liens vers des sites tiers. VideoLearnPro n'a aucun contrôle sur le contenu de ces sites et décline toute responsabilité pour les informations qui y sont présentées.</p>
    <br><br>

    <h2 class="text-primary">Modification des Mentions Légales</h2>
    <p>VideoLearnPro se réserve le droit de modifier ces mentions légales à tout moment. Les utilisateurs sont invités à consulter cette page régulièrement pour prendre connaissance d'éventuelles mises à jour.</p>
</div>


{% endblock %} {% block about %} {% endblock %}