{% extends 'base.html.twig' %}

{% block title %}Nos Produits
{% endblock %}

{% block page_title %}
	Nos Formations disponibles
{% endblock %}

{% block content %}
	<br>

	<div class="row">
		<div class="col-md-3">
			<h3>Filtrer</h3>
			{{form(form)}}
			</div>
			<div class="col-md-9">
				<h3>Nos produits</h3>
				<div class="row">
					{% for product in products %}
						<div class="col-md-4">
							<div class="product-item text-center">
								<a href="{{path('product',{'slug':product.slug})}}"><img src="/uploads/{{product.illustration}}" alt="{{product.name}}" class="img-fluid"></a>
								<h5>{{product.name}}</h5>
								<span class="product-subtitle">{{product.subtitle}}</span>
								<span class="product-price">{{((product.price)/100)|number_format(2,',','.')}}
									€</span>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>


		{% endblock %}

		{% block about %}{% endblock %}
