{% extends 'base.html.twig' %}

{% block title %}Nos details de produits{% endblock %}

{% block content %}
   			    <div class="row">
        <div class="col-md-5">
            
            <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="/uploads/{{product.description}}"" allowfullscreen></iframe>
</div>
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{product.name}}</h3>
            <p class="lead">{{product.subtitle}}</p>
            
            <span class="product-page-price">{{((product.price)/100) | number_format(2,',','.')}} €</span>
            <hr>
            <div><a href="{{ path('add_to_cart',{'id':product.id}) }}" class="btn btn-primary">Ajouter au panier</a></div>


        </div>
    </div>
{% endblock %}
