<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>
        {% block title %}Welcome to VideoLearnPro {% endblock %}
    </title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{asset('assets/favicon.ico')}}" />
    <!-- Bootstrap Icons-->
    {% block stylesheets %}
    <!-- Copy CSS from https://getbootstrap.com/docs/5.0/getting-started/introduction/#css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{asset('css/styles.css')}}" rel="stylesheet" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{asset('css/style.css')}}" rel="stylesheet" /> {% endblock %}

</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/home"><img src="{{asset('assets/img/logo.png')}}" alt="VideoLearnPro" height="75px"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/apropos">A Propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('products')}}">Nos Produits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
</body>

</html>
</nav>
<!-- Masthead-->{% block header %}
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">
                    {% block page_title %} Découvrez les secrets de la Tech grâce à VideoLearnPro. {% endblock %}
                </h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline"></div>
        </div>
    </div>
</header>{% endblock %}{% block content %}
<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{asset('assets/img/portfolio/fullsize/1.jpg')}}" title="Project Name">
                    <img class="img-fluid" src="{{asset('assets/img/portfolio/thumbnails/1.jpg')}}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{asset('assets/img/portfolio/fullsize/2.jpg')}}" title="Project Name">
                    <img class="img-fluid" src="{{asset('assets/img/portfolio/thumbnails/2.jpg')}}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/4.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/5.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/5.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{asset('assets/img/portfolio/fullsize/6.jpg')}}" title="Project Name">
                    <img class="img-fluid" src="{{asset('assets/img/portfolio/thumbnails/6.jpg')}}" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>{% endblock %}
<!-- About-->{% block about %}
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Nous avons la solution !</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">VideoLearnPro est la solution ultime pour les passionnés de technologie. Avec nous, plongez au cœur de la tech et enrichissez vos connaissances en un rien de temps. Nous avons la réponse à vos besoins d'apprentissage technologique. Ne
                    cherchez plus, choisissez VideoLearnPro et explorez un monde de connaissances tech à portée de main!</p>
                <a class="btn btn-light btn-xl" href="#">Commençons!</a>
            </div>
        </div>
    </div>
</section>{% endblock %}{% block footer %}
<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-2">
                <a class="nav-link text-center d-inline small text-muted" href="/mention">
                    <span class="text-primary">Mentions Légales</span>
                </a>
            </div>
            <div class="col-2">
                <a class="nav-link text-center d-inline small text-muted" href="/cgu">
                    <span class="text-primary">Conditions Générales d'Utilisation</span>
                </a>
            </div>
            <div class="col-2">
                <a class="nav-link text-center d-inline small text-muted" href="/cgv">
                    <span class="text-primary">Conditions Générales de Vente</span>
                </a>
            </div>
            <div class="col-2">
                <a class="nav-link text-center d-inline small text-muted" href="/confidentialite">
                    <span class="text-primary">Politique de Confidentialité</span>
                </a>
            </div>
            <div class="col-2">
                <a class="nav-link text-center d-inline small text-muted" href="/cookies">
                    <span class="text-primary">Politique de Protection des Cookies</span>
                    </h6>
                </a>
            </div>
            <div class="col-2">
                <a class="nav-link text-center d-inline small text-muted" href="/home">
                    <span class="text-primary">Contact</span>
                </a>
                </h6>
            </div>
        </div>
    </div><br>
    <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">Copyright &copy; 2023 - VideoLearnPro</div>
    </div>
</footer>{% endblock %}{% block javascripts %}
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- SimpleLightbox plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<!-- Core theme JS-->
<script src="{{asset('js/scripts.js')}}"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js">
</script>{% endblock %}</body>

</html>