{% extends 'base.html.twig' %} {% block title %}Cookies {% endblock %} {% block page_title %} Politique des Cookies {% endblock %} {% block content %}

<div class="container mt-4">
    <br><br>
    <p>Cette Politique des Cookies explique comment VideoLearnPro utilise les cookies sur son site web. En utilisant notre site, vous consentez à l'utilisation de cookies conformément à cette politique.</p><br><br>

    <h2 class="text-primary">Qu'est-ce qu'un Cookie ?</h2>
    <p>Un cookie est un petit fichier texte stocké sur votre ordinateur ou appareil mobile lorsque vous visitez un site web. Les cookies sont largement utilisés pour améliorer la performance d'un site web, fournir des informations aux propriétaires du site
        et faciliter la navigation des utilisateurs.</p><br><br>

    <h2 class="text-primary">Comment Nous Utilisons les Cookies</h2>
    <p>Nous utilisons des cookies pour diverses raisons, notamment pour améliorer la fonctionnalité de notre site, analyser l'utilisation du site par les utilisateurs, personnaliser votre expérience et afficher des publicités ciblées.</p><br><br>

    <h2 class="text-primary">Types de Cookies</h2>
    <p>Nous utilisons à la fois des cookies temporaires (qui expirent lorsque vous fermez votre navigateur) et des cookies persistants (qui restent sur votre appareil pendant une durée définie).</p><br><br>

    <h2 class="text-primary">Comment Gérer les Cookies</h2>
    <p>La plupart des navigateurs web acceptent les cookies par défaut, mais vous pouvez généralement modifier les paramètres de votre navigateur pour refuser les cookies ou vous avertir lorsque des cookies sont envoyés. Cependant, la désactivation des cookies
        peut affecter certaines fonctionnalités de notre site.</p><br><br>

    <h2 class="text-primary">Modification de la Politique des Cookies</h2>
    <p>Nous nous réservons le droit de mettre à jour notre Politique des Cookies. Les modifications seront publiées sur cette page.</p><br><br>

    <h2 class="text-primary">Contact</h2>
    <p>Si vous avez des questions concernant notre Politique des Cookies, veuillez nous contacter à l'adresse suivante : contact@videolearnpro.com.</p>
</div>

{% endblock %} {% block about %} {% endblock %}